    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :login, "Username" %>
        <%= f.text_field :login, :placeholder => "Username",
            :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>
      <div class="form-group">
        <p><strong>Yubikey Enabled</strong></p>
        <%= radio_button_tag(:use_yubikey, "true") %>
        <%= label_tag(:use_yubikey_enabled, "Yes") %>
        <%= radio_button_tag(:use_yubikey, "false") %>
        <%= label_tag(:use_yubikey_disabled, "No") %>
      </div>
      <div class="form-group">
        <%= f.label :registered_yubikey, "Yubikey ID" %>
        <%= f.text_field :registered_yubikey, :placeholder => "Token ID",
            :class => "form-control" %>
      </div>
      <div class="form-group">
        <p><strong>Enable Role</strong></p>
        <div class="checkbox">
          <% for role in User.valid_roles %>
            <% next if role == :user %>
            <%= check_box_tag "roles[#{role}]", role, @user.has_role?(role), {:name => "roles[]"}%>
            <%= label_tag "user_roles_#{role}", role.to_s.humanize %><br />
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit "Add User", class: "btn btn-primary" %>
      </div>
    <% end %>
